div.navbar{
    position: sticky;
    background-color: #3DAF2C;
}

div.row{
    padding-bottom: 10px;
}


button.btn{
    background-color: #64BF56;
    padding: 30px;

}
button.btn:hover{
    
    background-color: #3DAF2C;
}
