<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block title %}Result{% endblock title %}</title>
    <!--Loads the path to your static files-->
{% load staticfiles %}
<!-- Adds Boostrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!--Our own CSS-->
<link rel="stylesheet" type="text/css" href="{% static 'survey/style.css' %}" />

<!--Scripts-->
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
<!--NAVBAR-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!--Logo-->
        <div class="navbar-header">
            <h2>logo</h2>
            <a href="{% url 'survey:surveys-add' %}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true">&nbsp; Add Survey</span>
            </a>
        </div>
    </div>
</nav>

{% block content %}
{% endblock content %}

<script>
        // using jQuery
    function getCookie(name) {
        var cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            var cookies = document.cookie.split(';');
            for (var i = 0; i < cookies.length; i++) {
                var cookie = jQuery.trim(cookies[i]);
                // Does this cookie string begin with the name we want?
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    var csrftoken = getCookie('csrftoken');

    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });
</script>

<script>
        $(document).ready(function(){
            var $myForm = $('.my-ajax-form')
            $myForm.submit(function(event){
                event.preventDefault()
                var $formData = $(this).serialize()
                var $thisURL = $myForm.attr('data-url') || window.location.href // or set your own url
                $.ajax({
                    method: "POST",
                    url: $thisURL,
                    data: $formData,
                    success: handleFormSuccess,
                    error: handleFormError,
                })
            })
        
            function handleFormSuccess(data, textStatus, jqXHR){
                console.log(data)
                console.log(textStatus)
                console.log(jqXHR)
                $myForm[0].reset(); // reset form data
            }
        
            function handleFormError(jqXHR, textStatus, errorThrown){
                console.log(jqXHR)
                console.log(textStatus)
                console.log(errorThrown)
            }
        })
</script>
    {% block javascript %}
    {% endblock javascript %}
</body>
</html>