<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title> {% block title %}Result{% endblock title %}</title>
    <!--Loads the path to your static files-->
{% load staticfiles %}
<!-- Adds Boostrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<!--Our own CSS-->
<link rel="stylesheet" type="css" href="{% static 'survey/style.css' %}" />

<!--Scripts-->
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
<!--NAVBAR-->
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <!--Logo-->
        <div class="navbar-header">
            <h2>logo</h2>
            <a href="{% url 'survey:surveys-add' %}">
                <span class="glyphicon glyphicon-plus" aria-hidden="true">&nbsp; Add Survey</span>
            </a>
        </div>
    </div>
</nav>

{% block content %}
{% endblock content %}

</body>
</html>