{% extends 'survey/base.html' %}
{% block title %}ASSET{% endblock title %}
<script>
{% block jquery %}

var ctx = document.getElementById('myChart').getContext('2d');
var verk_point = {{response.verksamhetsstyrning}}/12*100;
verk_point = verk_point.toFixed(2);
var enga_point = {{response.engagemang}}/13*100;
enga_point = enga_point.toFixed(2);
var resu_point = {{response.resurser}}/7*100;
resu_point = resu_point.toFixed(2);
var kommu_point = {{response.kommunikation}}/3*100;
kommu_point = kommu_point.toFixed(2);
var myChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['Verksamhetsstyrning', 'Engagemang', 'Resurser', 'Kommunikation'],
        datasets: [{
            label: '%',
            data: [verk_point,
                   enga_point,
                   resu_point,
                   kommu_point,
                   ],
            backgroundColor: [
                'rgba(255, 38, 28, 0.2)',
                'rgba(101, 178, 233, 0.2)',
                'rgba(255, 164, 0, 0.2)',
                'rgba(0, 161, 176, 0.2)',
            ],
            borderColor: [
                'rgba(255, 38, 28, 1)',
                'rgba(101, 178, 233, 1)',
                'rgba(255, 164, 0, 1)',
                'rgba(0, 161, 176, 1)',
            ],
            borderWidth: 5
        }],
       
    },
    options: {
        tooltips: {
            callbacks: {
                label: function(tooltipItem, data) {
                    var dataset = data.datasets[tooltipItem.datasetIndex];
                var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                    return previousValue + currentValue;
                });
                var currentValue = dataset.data[tooltipItem.index];       
                return currentValue + "%";
                }
            }
        },
        legend: {
            labels: {
                fontFamily: 'Paralucent Condensed Bold',
                fontSize: 14
            }
              }
    }
});

var ctx = document.getElementById('verksamhetsChart').getContext('2d');
var points = {{response.verksamhetsstyrning}}/12*100;
points = points.toFixed(2);
var total = 100-{{response.verksamhetsstyrning}}/12*100;
total = total.toFixed(2);
var myDoughnutChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['Verksamhetsstyrning'],
        datasets: [{
            label: '%',
            data: [points, total],
            backgroundColor: [
                'rgba(255, 38, 28, 0.2)',
                'rgba(111, 98, 90, 0.2)',
            ],

            borderColor: [
                'rgba(255, 38, 28, 1)',
                'rgba(111, 98, 90, 1)',

            ],
            borderWidth: 1
        }],
      
    },
    options: {
        tooltips: {
            callbacks: {
                label: function(tooltipItem, data) {
                    var dataset = data.datasets[tooltipItem.datasetIndex];
                var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                    return previousValue + currentValue;
                });
                var currentValue = dataset.data[tooltipItem.index];       
                return currentValue + "%";
                }
            }
        },
        legend: {
            labels: {
                fontFamily: 'Paralucent Condensed Bold',
                fontSize: 14
            }
              }
    }
});

var ctx = document.getElementById('engagemangChart').getContext('2d');
var points = {{response.engagemang}}/13*100;
points = points.toFixed(2);
var total = 100- {{response.engagemang}}/13*100;
total = total.toFixed(2);
var myDoughnutChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['Engagemang'],
        datasets: [{
            label: '%',
            data: [points,
                   total,
                   ],
            backgroundColor: [
                'rgba(101, 178, 233, 0.2)',
                'rgba(111, 98, 90, 0.2)',


            ],
            borderColor: [
                'rgba(101, 178, 233, 1)',
                'rgba(111, 98, 90, 1)',

            ],
            borderWidth: 1
        }],
      
    },
    options: {
        tooltips: {
            callbacks: {
                label: function(tooltipItem, data) {
                    var dataset = data.datasets[tooltipItem.datasetIndex];
                var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                    return previousValue + currentValue;
                });
                var currentValue = dataset.data[tooltipItem.index];       
                return currentValue + "%";
                }
            }
        },
        legend: {
            labels: {
                fontFamily: 'Paralucent Condensed Bold',
                fontSize: 14
            }
              }
    }
  
});

var ctx = document.getElementById('resurserChart').getContext('2d');
var points = {{response.resurser}}/7*100;
points = points.toFixed(2);
var total = 100-{{response.resurser}}/7*100
total = total.toFixed(2);
var myDoughnutChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['Resurser'],
        datasets: [{
            label: '%',
            data: [points,
                   total,
                   ],
            backgroundColor: [
                'rgba(255, 164, 0, 0.2)',
                'rgba(111, 98, 90, 0.2)',

            ],
            borderColor: [
                'rgba(255, 164, 0, 1)',
                'rgba(111, 98, 90, 1)',

            ],
            borderWidth: 1
        }],
      
    },  
    options: {
        tooltips: {
            callbacks: {
                label: function(tooltipItem, data) {
                    var dataset = data.datasets[tooltipItem.datasetIndex];
                var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                    return previousValue + currentValue;
                });
                var currentValue = dataset.data[tooltipItem.index];       
                return currentValue + "%";
                }
            }
        },
        legend: {
            labels: {
                fontFamily: 'Paralucent Condensed Bold',
                fontSize: 14
            }
              }
    }
});

var ctx = document.getElementById('kommunikationChart').getContext('2d');
var points = {{response.kommunikation}}/3*100;
points = points.toFixed(2);
var total = 100-{{response.kommunikation}}/3*100;
total = total.toFixed(2);
var myDoughnutChart = new Chart(ctx, {
    type: 'doughnut',
    data: {
        labels: ['Kommunikation'],
        datasets: [{
            label: '%',
            data: [points, 
                    total,
                    ],
            backgroundColor: [
                'rgba(0, 161, 176, 0.2)',
                'rgba(111, 98, 90, 0.2)',
            ],
            borderColor: [
                'rgba(0, 161, 176, 1)',
                'rgba(111, 98, 90, 1)',
            ],
            borderWidth: 1
        }],
        options: {
        tooltips: {
            callbacks: {
                label: function(tooltipItem, data) {
                    var dataset = data.datasets[tooltipItem.datasetIndex];
                var total = dataset.data.reduce(function(previousValue, currentValue, currentIndex, array) {
                    return previousValue + currentValue;
                });
                var currentValue = dataset.data[tooltipItem.index];       
                return currentValue + "%";
                }
            }
        },
        legend: {
            labels: {
                fontFamily: 'Paralucent Condensed Bold',
                fontSize: 14
            }
              }
    }
    },
   
  
});
function printFunction() {
    window.print();
}
{% endblock jquery %}
         </script>



{% block content %}
<div class="container"> 
        <div class="mx-auto" >
            <div class='row'>
                <div class='col-sm'>
                    <div class="chart-container" >
                            
                            <canvas  id="myChart" ></canvas>
                        
                    </div>
                </div>
            </div>



         <div class="row justify-content-around">
            <div class='col-sm-6'>
                    
                    <canvas id="verksamhetsChart" ></canvas>
                    <br> 
                    
                    <h1>Verksamhetsstyrning</h1>
                    <br>
                    
                    <p>
                            Har organisationen strukturer som främjar socialt ansvarstagande? Med hållbarhet integrerat i strategier, processer och nyckeltal, men också i det dagliga arbetet, kan man hantera olika hållbarhetsaspekter på bästa sätt. Utmaningen består ofta i att få alla delar av verksamheten att bidra till en övergripande strategi. För att få full utväxling av hållbarhetsarbetet gäller det att arbeta fokuserat med strategiimplementering och integrering av hållbarhetaspekterna i kärnverksamheten.
                    </p>
                    <br>                
    
            </div>

            <div class='col-sm-6'>
                            
                    <canvas id="engagemangChart" ></canvas>
                    <br> 
                    
                    <h1>Engagemang</h1>
                    <br>
                    <p>
                            Hur väl lever företaget upp till principer för hållbart företagande? Företagets deltagande och
                            åtaganden i nationella och internationella initiativ ger viktiga referenspunkter för hur verksamheten ska kan göras mer hållbar. Det kan också bidra med ny och mer kunskap. Verksamhetsmetoder som är ansvarstagande och möjliggör nödvändiga förändringar är förutsättningar för ett effektivt hållbarhetsarbete.
                    </p>
                    <br>                

            </div>
        </div>
            <br>
            <br>
        <div class="row justify-content-around">
            <div class='col-sm-6'>
                            
                    <canvas id="resurserChart" ></canvas>
                    <br> 
                    
                    <h1>Resurser</h1>
                    <br>
                    <p>
                            Avsätter företaget tillräckliga resurser för att driva på, utveckla och följa upp sitt hållbarhetsarbete?
                            Utan ett aktivt och löpande arbete och tydliggjort internt ansvar riskerar hållbarhetsambitionen bli
                            en papperstiger. Utbildning och fortbildning för anställda är avgörande för att alla vid företaget ska
                            kunna förstå hur och bidra till att företaget lever upp till sitt sociala ansvar.
                    </p>
                      

            </div>
            <div class='col-sm-6'>
                            
                    <canvas id="kommunikationChart" ></canvas>
                    <br> 
                    
                    <h1>Kommunikation</h1>
                    <br>
                    <p>
                            Redovisar och kommunicerar företaget sitt hållbarhetsarbete på ett transparent sätt? Det brukar
                            sägas att hållbarhetsarbete till stor del baseras på att veta och visa. Med andra ord att det finns
                            rutiner för att förstå sin påverkan och en öppenhet kring hur man arbetar för att förhindra risker och för att bidra till sin omvärld. En grundlig uppföljning, saklig rapportering och aktiv kommunikation av hållbarhetsarbetet är centrala delar i företagets sociala ansvarstagande.
                    </p>
                    <br>                

            </div>

        </div>



        <div class="row justify-content-around">
            <div class='col-sm-12'>
                <center>
                    <h1>Vill du veta mer?</h1>
                    <br>
                    <p>
                        Mer information och praktiska exempel om hur du som fackligt förtroendevald kan bidra öka ditt företags sociala ansvarstagande hittar du på våra sidor. Här kan du även läsa mer om fackets roll för en hållbar utveckling för alla.
                    </p>
                </center>   

            </div>
        </div>


        <div class="row justify-content-around">
            <div class='col-sm-12'>
                <center>
                    <h1>Tack för du använt ASSET!</h1>
                    <br>
                    <p>
                        Det här utvärderingsverktyget har utvecklats av Beyond Intent AB i samarbete med Unionen. Hör gärna av dig till oss för mer information eller synpunkter om ASSET info@beyondintent.se eller besök www.beyondintent.se 
                    </p>
                    <br>                
                </center>
            </div>

        </div>
<footer><span>Copyright © 2019 Beyond Intent. All rights reserved.</span></footer>
    </div>
    <div class="row">
        <center>
            <button class="btn btn-primary hidden-print" onclick="printFunction()"><span class="glyphicon glyphicon-print" aria-hidden="true"></span> Print</button>
        </center>
    </div>
</div>

        

{% endblock content %}
