{% extends 'survey/base.html' %}
{% block title %}Survey{% endblock title %}
<!--Display db items-->
{% block content %}

{% for items in items  %}
{% for category in category %}
    {% for question in question %}
        
            <h1>--------------------------------</h1>
            {{question.question_ID}}
            {{category.max_Points}}
            <h1>--------------------------------</h1>
                <h1>ITEMS:</h1>
                <h5>{{items}}</h5>
            <h1>--------------------------------</h1>
                <h1>ITEMS.ANSWERS</h1>
                <h4>{{items.answers}}</h4>
            <h1>--------------------------------</h1>
                <h1>ITEMS.ANSWERS.FIELD</h1>

                {% for answers in items.answers  %}
                
                    <ul>
                        <li><h5>Question: {{answers.field.id}} Answer Type: {{answers.type}}<br>
                            Answer: {{answers.choice.label}}{{answers.text}}{{answers.number}}{{answers.choices.labels}}<br>
                            ID: {{answers.field.id}}<br>
                            <!-- takes out a specifik question-->
                            {% if answers.field.id == question.question_ID %}
                                <b>Points for the question:</b> 
                                {{question.question_Points}} <br>
                                <!--Check if the answer is not equels to something-->
                                - Visa detta om det går att få ut question med id:ovmiTI7jMvHR <br>
                                <br>
                                <!--adds points-->
                            <b>CURRENT points</b> <br>
                            {{category.current_Points}}<br>

                                {% if answers.choice.label == '1-2 years' %}
                                    <form class='my-ajax-form' method='POST' action='.' data-url='update/1'>
                                        {% csrf_token %}
                                        <!--{{form.as_p|safe}}-->
                                        {{form.as_p|add:question.question_Points}}
                                        <button type='submit'>Submit</button>
                                    </form>
                                    <!-- om svaret är rätt behöver öka värdet för varibale tillhörande kategori--><br>
                                    - Visa detta om svaret är likamed "1-2 years" visa detta <br>
                                {% endif %}

                                {% if answers.choice.label != '1-3' %}
                                    <!-- om svaret är rätt behöver öka värdet för varibale tillhörande kategori-->
                                    - Visa detta om svaret INTE är likamed "1-3" visa detta <br>
                                {% endif %}

                            {% endif %}
                    </ul>
            
            {% endfor %}
        <h1>---------------END--------------</h1>
        {% endfor %}
    {% endfor %}
{% endfor %}


{% endblock content %}
{% block javascript %}
<script>
        $(document).ready(function(){
            var $myForm = $('.my-ajax-form')
            $myForm.submit(function(event){
                event.preventDefault()
                var $formData = $(this).serialize()
                var $endpoint = $myForm.attr('data-url')
                $.ajax({
                    method: "POST",
                    url: $endpoint,
                    data: $formData, //add PK HERE!!!!! Hur får jag ut pk värdet
                    success: handleFormSuccess,
                    error: handleFormError,
                })
            })
        
            function handleFormSuccess(data, textStatus, jqXHR){
                console.log(data)
                console.log(textStatus)
                console.log(jqXHR)
                $myForm.reset[0]; // reset form data
            }
        
            function handleFormError(jqXHR, textStatus, errorThrown){
                console.log(jqXHR)
                console.log(textStatus)
                console.log(errorThrown)
            }
        })
</script>
<select id="survey"
{% endblock javascript %}